---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Needl - Iterative Design">
  <main>
    <Card title="Back" body="" href="/" classes="fixed" external={false} />
    <h1 class="center">
      <span class="text-gradient">Needl - Iterative Design</span>
    </h1>
    <div class="body sidemargins">
      <p class="center top-margin"></p>
      <div class="section" style="width: 70%">
        <h2>
          <span class="text-gradient">Startup Details</span>
        </h2>
        <p>
          Tired of losing your documents in the various corners of your
          computer? Download the app Needl, which allows you to find documents
          of any type with a quick search, for instance mail from Gmail, notes
          from Notion, or messages from Slack. This app also has bundles, which
          are groups of filters based on your current preferences (your “work”
          bundle might include Slack and Microsoft Teams, while your “home”
          bundle might have Notion and Gmail).
        </p>
      </div>
      <div class="section" style="width: 70%">
        <h2><span class="text-gradient">Initial Sketches</span></h2>
        <span class="text-gradient" style="text-align: center; display: block">
          Set 1
        </span>
        <div class="center">
          <img width="50%" src="../media/uiux1.jpeg" />
        </div>
        <span class="text-gradient" style="text-align: center; display: block">
          Set 2
        </span>
        <div class="center">
          <img
            width="50%"
            style="transform:rotate(-90deg)"
            src="../media/uiux2.jpeg"
          />
        </div>
        <span class="text-gradient" style="text-align: center; display: block">
          Set 3
        </span>
        <div class="center">
          <img
            width="50%"
            style="transform:rotate(-90deg)"
            src="../media/uiux3.jpeg"
          />
        </div>
        <span class="text-gradient" style="text-align: center; display: block">
          Set 4
        </span>
        <div class="center">
          <img width="50%" src="../media/uiux4.jpeg" />
        </div>
      </div>
      <div class="section" style="width: 70%">
        <h2>
          <span class="text-gradient">Wireframes</span>
        </h2>
        <div style="display:flex;">
          <img width="35%" src="../media/LF landing page.png" />
          <img width="33%" src="../media/LF filter selection.png" />
          <img width="33%" src="../media/LF search results.png" />
        </div>
      </div>
      <div class="section" style="width: 70%">
        <h2 class="bottom-margin">
          <span class="text-gradient">Hi-Fi Mockup, with feedback applied</span>
        </h2>
        <p>
          Listed below are the items of feedback we received on our original
          prototype that we ameliorated in our final design. To see the results
          of our efforts, please visit the prototype. Unfortunately, we do not
          have the previous version, but you should see that these concerns no
          longer apply.
        </p>
        <p>
          <span class="text-gradient">✔</span> More variation and excitement between
          pages; once click on Gmail, get rid of the search bar and take you to a
          new page just for the results
        </p>
        <p>
          <span class="text-gradient">✔</span> On the home page, would prefer to
          have a history if you want to reference something you searched for recently.
        </p>
        <p>
          <span class="text-gradient">✔</span> Filter by date and increased color
          coordination between options.
        </p>
        <p>
          <span class="text-gradient">✔</span> On the home page search with a bundle,
          it is unclear how to search with a bundle.
        </p>
        <p>
          <span class="text-gradient">✔</span> On search -&gt; Gmail result -&gt;
          new page with a new header might be more intuitive if we had Gmail pop
          up next to it.
        </p>
        <p>
          <span class="text-gradient">✔</span> The date is important information,
          have a separate column for the date on the results page to make the date
          clearer and increase readability
        </p>
        <p>
          <span class="text-gradient">✔</span> Would like the ability to search by
          a certain date.
        </p>
        <p>
          <span class="text-gradient">✔</span> Might be helpful to have icons next
          to applications that pop up.
        </p>
        <div
          style="display:flex; justify-content: center;"
          class="bottom-margin"
        >
          <Card
            title="Figma Prototype"
            body=""
            href="https://www.figma.com/proto/ljGuPOKDZ6OUibCbawYjbE/Needl?node-id=1%3A2&starting-point-node-id=1%3A2&scaling=scale-down"
            classes=""
            external={true}
          />
        </div>
      </div>
      <div class="section" style="width:70%">
        <h2><span class="text-gradient">User Testing Experiment</span></h2>
        <p></p>
        <span class="text-gradient">Testing Instructions</span>
        <ol>
          <li>Search with the provided term.</li>
          <li>Change the date filter to “Older than a week”.</li>
          <li>Change the date filter back to the default.</li>
          <li>Go back to the search page.</li>
          <li>Visit the “Edit bundles” page.</li>
          <li>Go back to the search page.</li>
          <li>Search using the “Work” bundle.</li>
          <li>View the email result from “cs1300htas”.</li>
          <li>Go back to see the list of results again.</li>
          <li>Open the add filter menu.</li>
          <li>Go back to the search page.</li>
        </ol>

        <span class="text-gradient">Post-Test Questions</span>
        <ol>
          <li>
            Did you find the distinction between individual filter and bundle
            selection clear?
          </li>
          <li>
            Did you find any aspects of the design not clear or hard to
            understand?
          </li>
          <li>What did you like about this website?</li>
          <li>
            What would you have liked to be able to do with this website, but
            weren't able to?
          </li>
        </ol>

        <span class="text-gradient">Analysis and Proposed Changes</span>
        <p>
          Overall the testing went quite smoothly for all three of our users. A
          common statement was that the interface was easy to use. Their
          behavior was in line with our expectations except for some tiny
          details, which were valid points and good recommendations for us to
          improve on. Most of the tasks were completed seamlessly, with one user
          breezing through our provided tasks easily as she managed to locate
          and utilize filter and bundle features effectively, saying the
          experience was “pretty straightforward”. Another user found the idea
          very interesting as it is like a “Google for a computer” but was a
          little bit confused about adding a filter for the searches. One common
          problem in two of our users was navigating back to the search page.
          One of these users stated that this issue was due to the unclearness
          of the instruction rather than the actual navigation, once she figured
          out how to go back to the search page.
        </p>
        <p>
          Another user struggled with finding the "add filters" feature, as it
          was simply a "+" on our prototype. To improve on this, we should add
          additional text indicating that this button is for adding additional
          features.
        </p>
        <p>
          The first solid change we want to make regarding these suggestions is
          that we would like to write “add filters” rather than using a plus
          sign to make adding a filter more straightforward. We are also
          planning to introduce more functionality in our high-fi design such as
          making more buttons operational for a complete user experience.
          Because we have also observed that many users struggled with the “go
          back to the search page” instruction. We should make it clearer that
          the back button will take the users to the initial search page,
          whereas we will regardless enable the users to modify their search on
          the current page that they're in.
        </p>
        <p></p>
        <div style="display:flex; justify-content: space-around">
          <Card
            title="User Test 1"
            body=""
            href="https://app.usertesting.com/v/303a3de1-cd3f-4170-810b-1e93e6f3f92f?encrypted_video_handle=8a99ee34-9e88-4882-850f-076899e16ec0&shared_via=link"
            classes=""
            external={true}
          />
          <Card
            title="User Test 2"
            body=""
            href="https://app.usertesting.com/v/dab17a48-8c64-4083-82af-5b016f1f1b7b?encrypted_video_handle=6dc68e2b-dd8c-4fce-8431-a2a521ac95df&shared_via=link"
            classes=""
            external={true}
          />
          <Card
            title="User Test 3"
            body=""
            href="https://app.usertesting.com/v/14e7c0b7-beab-4aa5-9ce9-6c66f77b3124?encrypted_video_handle=b3b0f2dd-8336-41df-9771-31b981fe30f0&shared_via=link"
            classes=""
            external={true}
          />
        </div>
      </div>
    </div>
    <div
      style="display:flex; flex-direction: column; align-items: center; justify-content: center;"
    >
      <div class="section">
        <div class="center" style="justify-content: center;">
          <p>
            Thanks for visiting our project! I hope you enjoyed our design and
            feedback reception process. <br />
            <span class="text-gradient">♡</span>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  main {
    color: white;
  }

  a {
    color: #62c4da;
  }

  a:visited {
    color: #da62c4;
  }

  ul {
    margin-top: 0;
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  h2 {
    margin: 0;
  }

  pre {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .body {
    display: flex;
    flex-direction: column;
  }

  .center {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .sidemargins {
    margin: 0 7rem;
  }

  .image {
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
  }

  .top-margin {
    margin-top: 0.875rem;
  }

  .bottom-margin {
    margin-bottom: 1rem;
  }

  .section {
    background-color: rgb(50, 50, 50);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    align-self: center;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
